@import "https://fonts.googleapis.com/css?family=Crete Round|Inter";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'crete round', sans-serif;
}

body {
  width: 100%;
  height: auto;
  position: relative;
}

h1 {
  color: #ff6b00;
  font-size: 56px;
  align-self: center;
  justify-content: center;
  margin: 6px 24px;
  font-family: 'Crete round', sans-serif;
  line-height: 64px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

header {
  padding-top: 5px;
}

.toolbar {
  height: 50px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

#toolbar-name {
  margin-left: 10%;
  font-family: "Roboto", sans-serif;
}

#hamburguer {
  margin-right: 10%;
}

.headline {
  background-color: #1c1a19;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 590px;
  background-image: url("../imagenes/background-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 25;
}

.headline h3 {
  margin: 6px 24px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.headline p {
  margin: 6px 24px;
  font-size: 16px;
  width: 65%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.social-network {
  display: flex;
  flex-direction: row;
  margin: 6px 24px;
}

.social-network ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social {
  margin: 10px;
}
